.value {
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 50%;
  height: 78px;
  width: 78px;
  color: $white;
  text-align: center;
  position: absolute;
  bottom: 14px;
  right: 14px;
  
}

.value__number{
  font-size: 42px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 8px;
}


.value__measure {
  font-size: 21px;
  line-height: 22px;
  margin-top: 0;
}


